<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>後台管理</title>
</head>
<body>
  <%- include("./basic/header.ejs")%>
  <section class="container" id="container">
      <h2 class="title is-3 has-text-centered mt-4">商品管理</h2>
      <div class="block has-text-right">
    </div>
        <table class="table is-bordered is-fullwidth is-striped">
          <thead class="thead">
            <tr>
              <th>商品名稱</th>
              <th>定價</th>
              <th>庫存</th>
              <th>商品敘述</th>
              <th>商品圖片</th>
              <th>商品狀態</th>
              <th>修改商品</th>
              <th>刪除商品</th>
           </tr>
          </thead>
          <tbody id="products-content"></tbody>
        </table>
      </div>
      <div class="has-text-right">
        <button class="button js-modal-trigger is-medium is-link " data-target="modal" id="btn">
        新增商品
        </button> 
      </div>
   

      <!-- 新增商品 model -->
      <div id="modal1" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="title is-3 modal-card-title has-text-centered ">新增商品</p>
            <button class="delete" aria-label="close" data-bulma-modal="close"></button>
          </header>
          <section class="modal-card-body">
            <form class="form">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" >商品名稱：</label>
                </div>
                <div class="field-body">
                  <div class="field">
                      <input class="input" type="text" id="pdName">
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" >商品敘述：</label>
                </div>
                <div class="field-body">
                  <div class="field">
                      <input class="input" type="text" id="pdDesc">
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" >商品價格：</label>
                </div>
                <div class="field-body">
                  <div class="field">
                      <input class="input" type="text" id="pdPrice">
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" >庫存數量：</label>
                </div>
                <div class="field-body">
                  <div class="field">
                      <input class="input" type="text" id="pdInventory">
                  </div>
                </div>
              </div>
              <div id="file" class="file has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="pdImage">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      上傳商品圖片
                    </span>
                  </span>
                  <span class="file-name">
                    No file uploaded
                  </span>
                </label>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label" >商品狀態：</label>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select  is-fullwidth">
                      <select id="pdStatus">
                        <option value="A">上架</option>
                        <option value="S">下架</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id="addProduct">新增</button>
            <button class="button" data-bulma-modal="close">取消</button>
          </footer>
        </div>
      </div>

      <!-- 修改商品 modal -->
      <div id="modal2" class="modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="title is-3 modal-card-title has-text-centered ">修改商品</p>
              <button class="delete" aria-label="close" data-bulma-modal="close"></button>
            </header>
            <section class="modal-card-body">
              <form class="form">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" >商品名稱：</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <input class="input" type="text" id="edName">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" >商品敘述：</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <input class="input" type="text" id="edDesc">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" >商品價格：</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <input class="input" type="text" id="edPrice">
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" >庫存數量：</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                        <input class="input" type="text" id="edInventory">
                    </div>
                  </div>
                </div>
                <div id="file1" class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="edImage">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        上傳商品圖片
                      </span>
                    </span>
                    <span class="file-name">
                      No file uploaded
                    </span>
                  </label>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label" >商品狀態：</label>
                  </div>
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select  is-fullwidth">
                        <select id="edStatus">
                          <option value="A">上架</option>
                          <option value="S">下架</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success" id="editProduct">修改</button>
              <button class="button" data-bulma-modal="close">取消</button>
            </footer>
          </div>
        </div>
  
    
  </section>
  <script>
    let selectId = "";
    let productList = [];

    // 初始化時將商品資料從資料庫取出，並將它儲存到 productList
    $(document).ready(
      
      function init() {
        axios.get('/api/products')
        .then((res) => {
          let html = "";
          if (res.status === 200 && res.data.productList !== null 
              && res.data.productList !== undefined 
              && res.data.productList.length > 0) {
            productList = res.data.productList;
            for (let i = 0; productList.length > i; i++){
              html += ( // table 內容
                `<tr>
                    <th>${productList[i].name}</th>
                    <th>${productList[i].amount}</th>
                    <th>${productList[i].inventory}</th>
                    <th>${productList[i].description}</th>
                    <th>${productList[i].img !== undefined && productList[i].img !== null && productList[i].img.length > 20 
                        ? productList[i].img.slice(0,27) + "..." 
                        : "N/A"}
                    </th>
                    <th>${"A" === productList[i].status ? "上架中" : "已下架"}</th>
                    <th><button id="showMod-${productList[i].id}" class="button is-primary js-modal-trigger"  data-target="modal">修改</button></th>
                    <th><button id="delete-${productList[i].id}" class="button is-danger">刪除</button></th>
                    </tr>`
              )
            }
            $('#products-content').html(html)
          } else {
                alert("查無商品資料！")
          }
          for (let i = 0; i < productList.length; i++){
            btn2 = document.querySelector(`#showMod-${productList[i].id}`)  
            md2 = new BulmaModal("#modal2")

            btn2.addEventListener("click", function () {
              md2.show()
              showModifyModal(JSON.stringify(productList[i]))
              console.log(productList[i].id)
            })

            md2.addEventListener('modal:show')
            md2.addEventListener("modal:close")
            $(`#delete-${productList[i].id}`).on('click', () => {deleteProduct(JSON.stringify(productList[i]))});
          }
          
        })
        .catch((error) => {
          alert("系統發生錯誤，請洽管理員。");
          location.reload();
        })
    })

    // bulma 內建上傳圖片顯示 (新增圖片)
    const fileInput = document.querySelector('#file input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file .file-name');
        fileName.textContent = fileInput.files[0].name; 
        file = fileInput.files[0];
      }
      return file;
    }

    // bulma 內建上傳圖片顯示 (修改圖片)
    const fileInput1 = document.querySelector('#file1 input[type=file]');
    fileInput1.onchange = () => {
      if (fileInput1.files.length > 0) {
        const fileName = document.querySelector('#file1 .file-name');
        fileName.textContent = fileInput1.files[0].name; 
        file = fileInput1.files[0];
      }
      return file;
    }

    // 新增商品
    $('#addProduct').click((evt) => {
      addSubmit();
    })
    function addSubmit() {
    // 因有 file 檔案, 需使用 formdata 的方式傳遞檔案以及參數,
    // 並在後端搭配 multer 解析 formdata 中的 file 以及各項參數
      let formdata = new FormData();

      formdata.append('name', $('#pdName').val());
      formdata.append('desc', $('#pdDesc').val());
      formdata.append('amount', $('#pdPrice').val());
      formdata.append('inventory', $('#pdInventory').val());
      formdata.append('status',$('#pdStatus').val());
      formdata.append('img', file);

      // 新增產品資訊, 需注意用 fromdata 傳遞參數時, header 需指定 content-type
      axios.post('/api/product',  formdata, { headers: {'Content-Type': 'multipart/form-data' }} )
      .then((res) => {
        if(res.status === 200) {
            alert("新增成功！");           
            location.reload();
        } else {
            alert("新增失敗，請洽管理員。")
        }
      })
      .catch((error) => {
        alert("系統發生錯誤，請洽管理員。");
        location.reload();
      })
    }
    // 修改商品 
    // 代入欲修改產品資料
    function showModifyModal(product) {
      product = JSON.parse(product);
      $('#edName').val(product.name);
      $('#edDesc').val(product.description);
      $('#edPrice').val(product.amount);
      $('#edInventory').val(product.inventory);
      $('#edStatus').val(product.status);
      selectId = product.id;
    }
    // 修改產品並送出
    $('#editProduct').click((evt) => {
      editSubmit();
    })
    function editSubmit() {
      let formdata = new FormData();
      formdata.append('id', selectId);
      formdata.append('name', $('#edName').val());
      formdata.append('desc', $('#edDesc').val());
      formdata.append('amount', $('#edPrice').val());
      formdata.append('inventory', $('#edInventory').val());
      formdata.append('status',$('#edStatus').val());
      formdata.append('img', file);

      axios.put(`/api/product/${selectId}`,  formdata, { headers: {'Content-Type': 'multipart/form-data' }})
      .then((res) => {
        if (res.status === 200) {
          alert("修改成功!")
          location.reload()
        } else {
          alert("修改失敗!")
        }
      }).catch((error) => {
        alert(error);
        location.reload();
      })
    }
    // 刪除產品
    function deleteProduct(product) {
      product = JSON.parse(product);
      if (confirm("確定刪除產品?!")){
        axios.delete(`/api/product/${product.id}`)
        .then((res) => {
          if (res.status === 200) {
            alert("刪除成功!");
            location.reload()
          } else {
            alert("刪除失敗!")
          }
        })
        .catch((err) => {
          alert("系統錯誤!")
        })
      }
    }
  // 設定bulma modal
  class BulmaModal {
	constructor(selector) {
		this.elem = document.querySelector(selector)
		this.close_data()
	}
	
	show() {
		this.elem.classList.toggle('is-active')
		this.on_show()
	}
	
	close() {
		this.elem.classList.toggle('is-active')
		this.on_close()
	}
	
	close_data() {
		var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
		var that = this
		modalClose.forEach(function(e) {
			e.addEventListener("click", function() {
				
				that.elem.classList.toggle('is-active')

				var event = new Event('modal:close')

				that.elem.dispatchEvent(event);
			})
		})
	}
	
	on_show() {
		var event = new Event('modal:show')
	
		this.elem.dispatchEvent(event);
	}
	
	on_close() {
		var event = new Event('modal:close')
	
		this.elem.dispatchEvent(event);
	}
	
	addEventListener(event, callback) {
		this.elem.addEventListener(event, callback)
	}
}
  // 新增商品 modal
  let btn1 = document.querySelector("#btn")
  let mdl = new BulmaModal("#modal1")

  btn1.addEventListener("click", function () {
    mdl.show()
  })

  mdl.addEventListener('modal:show', function() {
    console.log("opened")
  })

  mdl.addEventListener("modal:close", function() {
    console.log("closed")
  })


  </script>
</body>
</html>