<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>後台管理</title>
</head>
<body>
  <%- include("./basic/header.ejs")%>
  <section class="container">
      <h2 class="title is-3 has-text-centered">商品管理</h2>
    <div class="columns">
      <div class="column is-6 is-offset-3 is-offset-3">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>商品名稱</th>
              <th>定價</th>
              <th>庫存</th>
              <th>商品敘述</th>
              <th>商品圖片</th>
              <th>商品狀態</th>
              <th>修改商品</th>
              <th>刪除商品</th>
           </tr>
          </thead>
          <tbody>
    
          </tbody>
        </table>
        
      </div>
    </div>

    
  </section>
</body>
</html>