<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>訂單紀錄</title>
</head>
<body>
  <%- include("./basic/header.ejs") %>
  <section class="container has-text-centered">
    <h3 class="title">訂單紀錄</h3>
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>訂單編號</th>
          <th>收件人</th>
          <th>收件人連絡電話</th>
          <th>收件地址</th>
          <th>購買日期</th>
          <th>訂單金額</th>
          <th>訂單狀態</th>
        </tr>
      </thead>
      <tbody class="products-content has-text-centered"></tbody>
    </table>
  </section>
</body>
</html>