<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Shop</title>
</head>
<body>
  <%- include("./basic/header.ejs")%>
  <section class="container">
    <h1 class="title mt-5 has-text-centered" id="indexTitle">現正熱賣中</h1>
    <div class="columns is-multiline" id="cards"> <!-- is-multiline 用來自動換行-->
    </div>
  </section>

  <script>
    let productList = [];
    // 初始化時將商品資料從資料庫取出，並將它儲存到 productList
    $(document).ready(
      function init() {
        axios.get('/api/products')
        .then((res) => {
          let html = "";
          if (res.status === 200) {
            productList = res.data.productList
            for (let i = 0; i < productList.length; i++) {
              html += (
                `<div class="column is-one-third">
                  <div class="card">
                      <div class="card-image">
                        <figure class="image is-4by3">
                          <img src=${productList[i].img} alt="Placeholder image">
                        </figure>
                      </div>

                      <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4">${productList[i].name}</p>
                            <p class="subtitle is-6">${productList[i].description}</p>
                          </div>
                        </div>
                
                      <div class="content">
                        <p>售價： ${productList[i].amount} 元</p>
                        ${productList[i].inventory > 0 ? 
                        `<button class="button is-link">立即搶購</button>` : `<button class="button is-gary-darker disabled">補貨中</button>` 
                        }                  
                      </div>
                    </div>
                  </div>
                </div>
                `
              )
            }
            $('#cards').html(html)            
          } else {
            $('#indexTitle').html("商城維護中")
          }
        })
        .catch((error) => {
            alert("系統發生錯誤，請洽管理員。");
            location.reload();
        })
      }
    )
  </script>

</body>
</html>