#index {
  padding: 15px;
  background-color: #ffbc00;
  border:solid 2px rgb(236, 228, 173);
  border-radius: 10px;
}

.container #column{
  background-color: aliceblue;
  border-radius: 10px; 
  /* border: 5px solid #0a5091; */
  box-shadow: 0 0 0 1px #6a6c6e;
  padding: 1rem;
}
.container #Page1{
  background-color: aliceblue;
  border-radius: 10px; 
  /* border: 5px solid #0a5091; */
  box-shadow: 0 0 0 1px #6a6c6e;
  padding: 1rem;
}
.container #Page2{
  background-color: aliceblue;
  border-radius: 10px; 
  /* border: 5px solid #0a5091; */
  box-shadow: 0 0 0 1px #6a6c6e;
  padding: 1rem;
}

.container .card #name{
  font-weight:600;
}

.container .card{
  border-radius: 20px;
}
.container .card .card-image{
  /* border: solid 1px rgb(20, 19, 19); */
  height: 300px;
}
.container #indexTitle {
  color: red;
  text-shadow: 0 0 50px rgb(244, 231, 231);
  animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 3rem;
}

.navbar {
  margin-bottom: 50px;
}
.navbar #log_in {
  background-color: blanchedalmond;
}

.card .price {
  font-style:italic;
}

.card .button {
  margin-left: 2em;
  margin-top: 0.4em;
}

.container .header {
  margin-bottom: 2em;
  padding: 0.5em;
  border-radius: 10px;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px rgb(224, 124, 124), 0 0 100px #fff, 0 0 20px #fff;
  }
  50% {
    text-shadow: 0 0 50px #fff, 0 0 150px #fff, 0 0 50px #fff;
    color: rgb(233, 111, 80);
  }
}